.login-link {
  margin-right: 1rem;

  background-color: var(--dark-purple);
}
.login-link:hover {
  background-color: var(--light-purple);
}

.register-link {
  color: inherit;

  border: none;
}
.register-link:hover {
  border: none;
  background-color: var(--light-purple);
}
